<h1>New question</h1>
<%= form_for [@problem, @question] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :text %><br/>
	<%= f.text_field :text %>
  </div>
  <div class="field">
      <%= f.label :weight %><br/>
      <%= f.radio_button :weight, 1 %>1
      <%= f.radio_button :weight, 2 %>2
      <%= f.radio_button :weight, 3 %>3
      <%= f.radio_button :weight, 4 %>4
      <%= f.radio_button :weight, 5 %>5
  </div>
  <div class="actions">
	<%= f.submit "Submit" %>
  </div>
<% end %>