<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">Edit Profile</li>
</ul>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-stacked", :method => :put }) do |f| %>
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %> <i>(leave blank if you don't want to change it)</i>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password %> <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="well">
    <%= f.submit "Update", :class => "btn primary" %>
    <%= link_to "Delete my account", registration_path(resource_name), :class => "btn danger", :confirm => "Are you sure?", :method => :delete %>
  </div>

<% end %>
