<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">Sign Up</li>
</ul>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-stacked" }) do |f| %>
  <h2>Sign up</h2>

  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="well">
    <%= f.submit "Sign Up", :class => "btn primary" %>
    <%= link_to "", user_omniauth_authorize_path(:facebook), :class => "facebook-login" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
