<li class="question" id="question_<%= f.object.id %>">
  <span class="question_text">
    <%= f.label :text, "Question:" %>
    <%= f.text_area :text, :id => "question_text_#{f.object.id}" %>
  </span>
  <span class="information">
    <div class="weight round_top">
      <%= f.label :weight %>:
      <%= f.radio_button :weight, 1 %>1
      <%= f.radio_button :weight, 2 %>2
      <%= f.radio_button :weight, 3 %>3
      <%= f.radio_button :weight, 4 %>4
      <%= f.radio_button :weight, 5 %>5
    </div>
  </span>
  <%= f.hidden_field :position %>
  <span id="destroy_question_<%= f.object.id %>">
    X
  </span>
  <div class="clear"></div>
  <script type="text/javascript">
    $('#<%= "destroy_question_#{f.object.id}" %>').click(function() {
      var response = confirm("This question will be deleted. Are you sure?");
      if (response) {
          $.ajax({
              type: "DELETE",
              url: "/questions/<%= f.object.id %>",
              success: function(msg) {
                  $('#<%= "question_#{f.object.id}" %>').slideUp('normal', function() {
                     $(this).remove();
                  });
              }
          });
      }
    });
  </script>
</li>