<table class="problem_questions" summary="Problem Questions information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to @problem.name, @problem %>
      </span>
	  <h1>
  		<%= @problem.name %>
	  </h1>
      <p>
        <%= @problem.comment %>
      </p>
      <% unless @questions.empty? %>
        <!-- TODO - should these be editable forms? where should the delete link be? -->
        <%= render 'shared/questions' %>
	  <% end %>
      <h1 class="question">New Question?</h1>
        <%= render 'shared/question_form' %>
      </td>
  </tr>
</table>