Back to <%= link_to "Problems", root_path %>
<ul class="problems" summary="User problems">
    <%= render 'shared/problem_item', :problem_item => @problem %>
</ul>
<%= form_for @problem, :url => {:action => 'questions'}, :method => :put do |f| %>
    <ul id="questions">
        <% unless @questions.empty? %>
          <% @questions.each do |question| %>
            <%= fields_for "question[]", question do |builder| %>
              <%= render 'shared/error_messages', :object => builder.object %>
              <%= render "question_fields", :f => builder %>
            <% end %>
          <% end %>
        <% end %>
    </ul>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>