<table class="problem" summary="Problem information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to "Problems", root_path %>
      </span>
	  <h1>
  		<span id="name"><%= @problem.name %></span>
	  </h1>
      <p>
        <%= link_to "Edit Problem", edit_problem_path(@problem) %>
        <%= link_to "View Questions", problem_questions_path(@problem) %>
      </p>
      <span class="comment">
        <%= @problem.comment %>
      </span>
      <%= render "shared/solutions" %>
      <%= link_to "New Solution", new_problem_solution_path(@problem) %>
  </tr>
</table>