Back to <%= link_to "Problems", root_path %>
<ul class="problems" summary="User problems">
    <%= render 'shared/problem_item', :problem_item => @problem %>
</ul>
<%= nested_form_for @problem, :url => {:action => 'questions'}, :method => :put do |f| %>
    <ul id="questions">
        <% unless @questions.empty? %>
            <%= f.fields_for :questions do |builder| %>
              <%= render 'shared/error_messages', :object => builder.object %>
              <%= render "question_fields", :f => builder %>
              <hr/>
            <% end %>
        <% end %>
        <%= f.link_to_add "Add Question", :questions %>
    </ul>
    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>