<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active"><%= @problem.name %></li>
</ul>

<ul class="problems" summary="User problems">
    <%= render 'shared/problem_item', :problem_item => @problem %>
</ul>
<div id="question-list">
    <%= form_for @problem, :url => {:action => 'questions'}, :html => {:class => "form-stacked"}, :method => :put do |f| %>
      <% unless @problem.categories.blank? %>
         <% @problem.categories.each do |category| %>
            <% unless @problem.questions_by_category_id(category.id).empty? %>
                  <div class="category-section round">
                      <h3><%= category.name %>&nbsp;<span class="btn toggle-category" id="category_<%=category.id%>">Show Questions</span></h3>
                      <ul class="questions" id="questions_category_<%= category.id %>">
                        <%= f.fields_for :questions, @problem.questions_by_category_id(category.id) do |builder| %>
                          <%= render 'shared/error_messages', :object => builder.object %>
                          <%= render "question_fields", :f => builder %>
                        <% end %>
                        <%= add_child_link "Add Question", :questions, :category_id => category.id %>
                        <%= new_child_fields_template f, :questions, {:partial => "question_fields", :category_id => category.id} %>
                      </ul>
                  </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="category-section round">
           <h3>Uncategorized</span>&nbsp;<span class="btn toggle-category" id="category_none">Show Questions</span></h3>
           <ul class="questions" id="questions_category_none">
               <% unless @problem.questions_without_category.blank? %>
                   <%= f.fields_for :questions, @problem.questions_without_category do |builder| %>
                      <%= render 'shared/error_messages', :object => builder.object %>
                      <%= render "question_fields", :f => builder %>
                    <% end %>
               <% end %>
               <% if @problem.questions.blank? %>
                     <%= f.fields_for :questions, @problem.questions.build do |builder| %>
                      <%= render 'shared/error_messages', :object => builder.object %>
                      <%= render "question_fields", :f => builder %>
                    <% end %>
                <% end %>
                <%= add_child_link "Add Question", :questions, :category_id => nil %>
                <%= new_child_fields_template f, :questions, {:partial => "question_fields", :category_id => nil} %>
            </ul>
        </div>
        <div class="well">
            <%= f.submit "Submit", :class => "btn large primary span2" %>
            <%= link_to "Cancel", problem_path(@problem), :class => "btn large danger" %>
        </div>
    <% end %>
</div>

<div id="jstemplates">
  <%= yield :jstemplates %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
     $(".questions").hide();

    $(".toggle-category").click(function() {
        $("#questions_" + this.id).slideToggle('normal', function() {
        // Animation complete.
        var $header = $("#" + this.id.substring(10));
console.log($header.text())
        if ($header.text().trim() == "Hide Questions") {
          $header.text("Show Questions");
        } else {
          $header.text("Hide Questions");
        }
      });
    });

  });
</script>