<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li class="active">Edit Password</li>
</ul>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "form-stacked", :method => :put }) do |f| %>
  <h2>Change your password</h2>

  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="well">
    <%= f.submit "Change my password", :class => "btn primary" %>
    <%= link_to root_path, "Cancel", :class => "btn danger" %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>