<li>
  <div id='<%= "problem_#{problem_item.id}" %>' class="no_margin problem round">
    <div class="information">
    <h2>
      <%= link_to problem_item.name, problem_item %>&nbsp;<%= link_to "(edit)", edit_problem_path(problem_item), :class => "edit_text" %>
    </h2>
    <!-- TODO - need to deal with wrapping long comments -->
    <h3 class="problem_comment">
      <%= simple_format(problem_item.comment) %>
    </h3>
    </div>
  </div>
  <div class="solutions">
    <% unless problem_item.solutions.empty? %>
      <ul id='<%= "solutions_#{problem_item.id}" %>'>
        <%= render :partial => 'shared/problem_solution_item', :collection => problem_item.solutions %>
      </ul>
    <% end %>
      <ul>
        <li class="problem_solution round_bottom hide_solutions">
          <span class="left">
            <%= link_to "New Solution?", new_problem_solution_path(problem_item) %>
          </span>
          <span class="right" id='<%= "toggle_solutions_#{problem_item.id}" %>'>
            Hide Solutions
          </span>
          <div class="clear"/>
          <script type="text/javascript">
            $('#<%= "toggle_solutions_#{problem_item.id}" %>').click(function() {
              $('#<%= "solutions_#{problem_item.id}" %>').slideToggle('normal', function() {
                // Animation complete.
                var $solution_span = $('#<%= "toggle_solutions_#{problem_item.id}" %>');

                if ($solution_span.text().trim() == "Hide Solutions") {
                  $solution_span.text("Show Solutions");
                } else {
                  $solution_span.text("Hide Solutions");
                }
              });
            });
          </script>
        </li>
      </ul>
  </div>
</li>