<%= form_for @problem do |problem_form| %>
  <%= render 'shared/error_messages', :object => problem_form.object %>
  <div class="field">
    <%= problem_form.label :name %><br/>
	<%= problem_form.text_field :name %>
  </div>
  <div class="field">
    <%= problem_form.label :comment %><br/>
	<%= problem_form.text_area :comment %>
  </div>
  <div class="actions">
	<%= problem_form.submit "Submit" %>
  </div>
<% end %>