<ul class="answers">
  <%= form_for :answer, :url => {:action => 'answers'}, :method => :put do |f| %>
    <% unless @answers.empty? %>
      <% @answers.each do |answer| %>
        <%= fields_for "answer[]", answer do |builder| %>
          <%= render 'shared/error_messages', :object => builder.object %>
          <%= render "shared/answer_fields", :f => builder, :answer => answer %>
        <% end %>
      <% end %>
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
    <% if @answers.empty? %>
      No questions exist. Create questions <%= link_to "here", problem_questions_path(@problem) %>
    <% end %>
  <% end %>
</ul>