<li class="answer">
  <span class="question_text">
    <%= "#{f.object.question.text}" %>
  </span>
  <span class="information">
    <div class="rating round_top">
      <%= f.label :rating %>:
      <%= f.radio_button :rating, 1 %>1
      <%= f.radio_button :rating, 2 %>2
      <%= f.radio_button :rating, 3 %>3
      <%= f.radio_button :rating, 4 %>4
      <%= f.radio_button :rating, 5 %>5
    </div>
    <!-- TODO - need to be able to hide/show comments: default hide unless there is a value in there -->
    <div id='<%= "comment_#{f.object.id}" %>' class="comment" <% if f.object.comment.blank? %>style="display:none"<% end %>>
      <%= f.text_area :comment %>
    </div>
    <div id='<%= "toggle_comment_#{f.object.id}" %>' class="toggle_comment round_bottom">
       <% if f.object.comment.blank? %>
          Show Comment
       <% else %>
          Hide Comment
       <% end %>
    </div>
  </span>
  <script type="text/javascript">
    $('#<%= "toggle_comment_#{f.object.id}" %>').click(function() {
      $('#<%= "comment_#{f.object.id}" %>').slideToggle('normal', function() {
        // Animation complete.
        var $comment_span = $('#<%= "toggle_comment_#{f.object.id}" %>');

        if ($comment_span.text().trim() == "Hide Comment") {
          $comment_span.text("Show Comment");
        } else {
          $comment_span.text("Hide Comment");
        }
      });
    });
  </script>
  <%= f.hidden_field :question_id %>
  <div class="clear"></div>
</li>