<li class="well answer">
  <div class="left field">
    <%= f.label :rating, f.object.question.text %>
    <%= f.radio_button :rating, 1 %>&nbsp;1
    <%= f.radio_button :rating, 2 %>&nbsp;2
    <%= f.radio_button :rating, 3 %>&nbsp;3
    <%= f.radio_button :rating, 4 %>&nbsp;4
    <%= f.radio_button :rating, 5 %>&nbsp;5
  </div>
    <div class="right field">
      <%= f.label :comment %>
      <%= f.text_area :comment, :id => "comment_#{f.object.id}", :class => "span6" %>
    </div>
  <%= f.hidden_field :question_id %>
  <div class="clear"></div>
</li>