<li class="answer">
  <div class="field">
    <h3><%= "#{f.object.question.text}" %></h3>
  </div>
  <div class="field">
    <%= f.label :rating %>
    <%= f.radio_button :rating, 1 %>1
    <%= f.radio_button :rating, 2 %>2
    <%= f.radio_button :rating, 3 %>3
    <%= f.radio_button :rating, 4 %>4
    <%= f.radio_button :rating, 5 %>5
  </div>
  <div id='<%= "comment_#{f.object.id}" %>' class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>
  <%= f.hidden_field :question_id %>
  <div class="clear"></div>
</li>