<%= form_for @solution do |f| %>
  <h2>Edit solution</h2>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %>
	<%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %>
	<%= f.text_area :comment %>
  </div>
  <%= f.hidden_field :problem_id, :value => @problem.id %>
  <div class="actions">
	<%= f.submit "Update" %>
  </div>
  <p><%= link_to "Delete", solution_path(@solution), :confirm => "Are you sure?", :method => :delete %></p>

<% end %>