<h1>New solution</h1>
<%= form_for [@problem, @solution] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br/>
	<%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br/>
	<%= f.text_field :comment %>
  </div>
  <div class="actions">
	<%= f.submit "Submit" %>
  </div>
<% end %>