<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">/</span></li>
  <li><%= link_to @problem.name, @problem %><span class="divider">/</span></li>
  <li class="active"><%= @solution.name %></li>
</ul>

  <h1><%= @solution.name %>&nbsp;<small><%= link_to "Edit", edit_solution_path(@solution) %></small>
  <% unless @solution.comment.blank? %>
  <small><%= simple_format(@solution.comment) %></small>
  <% end %>
  </h1>



  <% unless @solution.problem.questions.blank? %>
      <%= form_for @solution, :url => {:action => 'answers'}, :html => {:class => "form-stacked"}, :method => :put do |f| %>
        <% unless @solution.problem.categories.blank? %>
           <% @solution.problem.categories.each do |category| %>
              <% unless @solution.answers_by_category_id(category.id).empty? %>
                  <h3><%= category.name %>&nbsp;<span class="btn toggle-category" id="category_<%=category.id%>">Hide</span></h3>
                  <ul class="answers" id="answers_category_<%=category.id%>">
                      <%= f.fields_for :answers, @solution.answers_by_category_id(category.id).sort_by {|answer| answer.question.position} do |builder| %>
                        <%= render 'shared/error_messages', :object => builder.object %>
                        <%= render "answer_fields", :f => builder %>
                      <% end %>
                  </ul>
                  <div class="clear"></div>
              <% end %>
           <% end %>
        <% end %>
        <% unless @solution.answers_by_category_id(nil).blank? %>
           <h3>Uncategorized</span>&nbsp;<span class="btn toggle_category" id="category_none">Hide</span></h3>>
           <ul class="answers" id="answers_category_none">
               <%= f.fields_for :answers, @solution.answers_without_category.sort_by {|answer| answer.question.position} do |builder| %>
                  <%= render 'shared/error_messages', :object => builder.object %>
                  <%= render "answer_fields", :f => builder %>
                <% end %>
            </ul>
            <div class="clear"></div>
        <% end %>
        <div class="well">
	        <%= f.submit "Update", :class => "btn large primary span2" %>
            <%= link_to "Cancel", solution_path(@solution), :class => "btn large danger" %>
        </div>
      <% end %>
    <% if @answers.empty? %>
      No questions exist. Create questions <%= link_to "here", problem_questions_path(@problem) %>
    <% end %>
  <% end %>

          <script type="text/javascript">
            $('.<%= "toggle-category" %>').click(function() {
                $("#answers_" + this.id).slideToggle('normal', function() {
                // Animation complete.
                var $header = $("#" + this.id.substring(8));

                if ($header.text().trim() == "Hide") {
                  $header.text("Show");
                } else {
                  $header.text("Hide");
                }
              });
            });
          </script>