<table class="solution" summary="Solution information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to @problem.name, @problem %>
      </span>
      <span class="ranking">
        <% if @solution.completed %>
          <%= number_to_percentage(@solution.match_decimal * 100, :precision => 1) %>
        <% else %>
          INC
        <% end %>
      </span>
	  <h1>
  		<span id="name"><%= @solution.name %></span>
        <%= link_to "Edit Solution", edit_solution_path(@solution) %>
	  </h1>
      <span class="comment">
        <%= @solution.comment %>
      </span>
    </td>
  </tr>
</table>

<ul class="answers">
  <%= form_for @solution, :url => {:action => 'answers'}, :method => :put do |f| %>
    <% unless @answers.empty? %>
      <% @answers.each do |answer| %>
        <%= fields_for "answer[]", answer do |builder| %>
          <%= render 'shared/error_messages', :object => builder.object %>
          <%= render "answer_fields", :f => builder %>
        <% end %>
      <% end %>
      <div class="actions">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
    <% if @answers.empty? %>
      No questions exist. Create questions <%= link_to "here", problem_questions_path(@problem) %>
    <% end %>
  <% end %>
</ul>