<table class="solution" summary="Solution information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to @problem.name, @problem %>
      </span>
      <span class="ranking">
        <% if @solution.completed %>
          <%= number_to_percentage(@solution.match_decimal * 100, :precision => 1) %>
        <% else %>
          INC
        <% end %>
      </span>
	  <h1>
  		<span id="name"><%= @solution.name %></span>
        <%= link_to "Edit Solution", edit_solution_path(@solution) %>
	  </h1>
      <span class="comment">
        <%= @solution.comment %>
      </span>
      <%= render "shared/question_answers" %>
  </tr>
</table>