<table class="solution" summary="Solution information">
  <tr>
	<td class="main">
      <span>
        Back to <%= link_to "Solutions", problem_solutions_path(@problem) %>
      </span>
      <span class="ranking">
        <%= @solution.ranking %>
      </span>
	  <h1>
  		<span id="name"><%= @solution.name %></span>
        <%= link_to "Edit Solution", edit_solution_path(@solution) %>
	  </h1>
      <span class="comment">
        <%= @solution.comment %>
      </span>
  </tr>
</table>