<div class="topbar" data-scrollspy="scrollspy">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="#">Residency Ranker</a>
      <ul class="nav">
      </ul>
      <ul class="nav secondary-nav">
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Edit Profile", edit_user_registration_path %>
        </li>
        <% end %>
        <li>
          <%= link_to "Help", help_path %>
        </li>
        <% if user_signed_in? %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
        </li>
        <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>